* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
#title {
    text-align: center;
    font-size: 24px; /* Aumentei o tamanho da fonte para o cabeçalho */
    margin-top: 20px; /* Reduzi a margem superior para alinhar melhor com o container */
}

/* Container principal */
#container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f1f1f1; /* Adicionei uma cor de fundo ao container */
    border-radius: 10px; /* Reduzi o raio da borda para 10px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adicionei uma sombra para destacar o container */
}

/* Formulário de login */
#logar {
    padding: 20px;
}

/* Campos de preenchimento */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Adicionei uma borda para os campos de entrada */
    border-radius: 5px; /* Arredondei as bordas dos campos de entrada */
    font-size: 16px; /* Aumentei o tamanho da fonte nos campos de entrada */
}

/* Botão de Entrar */
#entrar {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Defini uma cor de fundo para o botão */
    color: #fff; /* Defini a cor do texto como branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Texto de Aviso */
.aviso {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #ff0000; /* Defini a cor vermelha para o texto de aviso */
}

/* Adicione qualquer outra estilização adicional conforme necessário */
