*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container
{ 
    width: 100%;
    max-width: 500px;
    /* border: 2px solid red; */
    margin: 50px auto 0;
    padding: 20px;
}

#box
{
    padding: 0 10px;
    /* border: 1px solid red; */
    background-color: lightgray;
    border-radius: 20px;
}

/* Titulo */
#title-box
{
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    padding: 10px 10px 0;
}

/* h1
{
    font-size: 44px;
} */

#title
{
    width: 100%;
    text-align: center;
    /* background-color: lightblue;  */
}

/* nome da equipe */
.form-floating
{
    margin: 0 20px;
}

/* Botão */
.d-grid
{
    margin: 0 20px;
}

.btn
{
    margin-bottom: 50px;
}