*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Barra no topo */
.topbar 
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #333;
    overflow: hidden;
    padding: 10px 10px;
}
  
.topbar a
{
    float: left;
    background-color: #0D6EFD;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}
  
.topbar a:hover
{
    transition: 0.2s;
    background-color: #0b5ed7;
}
  
.topbar a.active
{
    background-color: yellow;
    color: #333;
}

/* Cabeçario */
#title
{
    text-align: center;
}

/* Login */
#container
{ 
    width: 100%;
    max-width: 500px;
    /* border: 2px solid red; */
    margin: 50px auto 0;
    padding: 20px;
}

#logar
{
    width: 100%;
    max-width: 588px;
    background-color: lightgray;
    border-radius: 20px;

    padding: 10px 20px;
}

/* Campos de preenchimento */
#box
{
    padding: 0 10px;
    /* border: 1px solid red; */
}

/* Botão */
#entrar
{
    margin-top: 30px;
    /* border: 1px solid red; */
    text-align: center;
}

.d-grid
{
    padding: 0 10px;
}

/* Texto de Aviso */
.aviso
{
    text-align: center;
    padding: 20px;
    font-size: 0.8em;   
}