*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar
{
    background-color: #ffd131 !important;
}

.dropdown-toggle, .nav-link
{
    font-weight: 700;
    color: black;
}

.posicao
{
    width: 2%;
}

#container
{
    width: 100%;
    text-align: center;
    
    margin: 30px 0px;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
}

#tabela
{
    margin: 0px 30px;
}