*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar
{
    background-color: #ffd131 !important;
}

#container
{ 
    width: 100%;
    max-width: 600px;
    /* border: 2px solid red; */
    margin: 50px auto 0;
    padding: 20px;
}

#box
{
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

/* Titulo */
#title
{
    text-align: center;
}

.dropdown-toggle, .nav-link
{
    font-weight: 700;
    color: black;
}

.numero-prova
{
    display: flex;
    margin: 10px;
}

.numero-prova label
{
    text-align: center;
    font-weight: 500;
}

.campos
{
    margin: 10px;
}

.campos label
{
    font-weight: 500;
}

.d-grid
{
    padding: 10px;    
}