*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container
{ 
    width: 100%;
    max-width: 600px;
    /* border: 2px solid red; */
    margin: 50px auto 0;
    padding: 20px;
}

#box
{
    padding: 10px;
    /* border: 1px solid red; */
    background-color: lightgray;
    border-radius: 20px;
}

/* Titulo */
#title
{
    text-align: center;
}

/* Campos */
.row
{
    padding: 10px;
}

.box-campos
{
    width: 100%;
    padding: 10px;
}

/* Botão */
.d-grid
{
    padding: 10px;
}