*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar
{
    background-color: #ffd131 !important;
}

.dropdown-toggle, .nav-link
{
    font-weight: 700;
    color: black;
}

#container
{ 
    width: 100%;
    max-width: 500px;
    /* border: 2px solid red; */
    margin: 50px auto 0;
    padding: 20px;
}

#box
{
    padding: 10px;
    /* border: 1px solid red; */
    border: 3px solid black;
    border-radius: 15px;
}

/* Titulo */
#title
{
    text-align: center;
}

/* Campos */
label
{
    font-weight: 500;
}

.row
{
    padding: 10px;
}

.mb-3
{
    padding: 10px;
}

/* Botão */
.d-grid
{
    padding: 10px;
}

/* aviso */
.aviso
{
    text-align: center;
    padding: 10px;
}